# Imports

In [20]:
import sqlite3
import os.path
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Read from DB

In [17]:
db_name = 'testDB.db'
db_path = db_name
conn = sqlite3.connect(db_path)
c = conn.cursor()
c.execute("SELECT * FROM users;")
users = c.fetchall()
print("Number of users: ", len(users))
c.execute("SELECT * FROM user_events;")
events = c.fetchall()
print("Number of events: ", len(events))
conn.close()

Number of users:  9
Number of events:  331

# How many chess players are there by gender, state, and age?

In [7]:
users[0]

(12461006, 'M', 'NY')

In [8]:
events[0]

(200102103780,
 12742921,
 '2001-02-10',
 'ICCA CHAMPIONSHIPS',
 '1321',
 '1292',
 None,
 None,
 None,
 None,
 '4: 10TH',
 'IL')

In [15]:
users_df = pd.DataFrame(users, columns=["uid", "gender", "state"])
users_df.set_index("uid")

         gender state
uid
12461006      M    NY
12742921      M    IL
12706484      M    LA
12624969      M     C
12757649      F    GA
12611605      M    TX
12801356      M    ND
12926549      M    NY
12881742      M    LA

Chess players by gender and gender %

In [33]:
gender_counts = users_df.groupby('gender')['uid'].count()

In [41]:
gender_counts

gender
F    1
M    8
Name: uid, dtype: int64

In [51]:
total_people = gender_counts.F + gender_counts.M
percent_female = gender_counts.F / total_people
percent_male = gender_counts.M / total_people
percent_male, percent_female
percent_df = pd.DataFrame()
percent_df['gender'] = ["male", "female"]
percent_df['percentages'] = [percent_male, percent_female]

https://seaborn.pydata.org/generated/seaborn.barplot.html
I prefer caching these values